/*
 * Merge CRM API
 *
 * The unified API for building rich integrations with multiple CRM platforms.
 *
 * API version: 1.0
 * Contact: hello@merge.dev
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package merge_crm_client

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
)

// Linger please
var (
	_ _context.Context
)

// CustomObjectClassesApiService CustomObjectClassesApi service
type CustomObjectClassesApiService service

type ApiCustomObjectClassesGeneratorUpdateRequest struct {
	ctx _context.Context
	ApiService *CustomObjectClassesApiService
	xAccountToken *string
	generatorId string
	isDebugMode *bool
	runAsync *bool
}

func (r ApiCustomObjectClassesGeneratorUpdateRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesGeneratorUpdateRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesGeneratorUpdateRequest) IsDebugMode(isDebugMode bool) ApiCustomObjectClassesGeneratorUpdateRequest {
	r.isDebugMode = &isDebugMode
	return r
}
func (r ApiCustomObjectClassesGeneratorUpdateRequest) RunAsync(runAsync bool) ApiCustomObjectClassesGeneratorUpdateRequest {
	r.runAsync = &runAsync
	return r
}

func (r ApiCustomObjectClassesGeneratorUpdateRequest) Execute() (CustomObjectClass, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesGeneratorUpdateExecute(r)
}

/*
 * CustomObjectClassesGeneratorUpdate Method for CustomObjectClassesGeneratorUpdate
 * Updates a `CustomObjectClass` object with the given `id`.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param generatorId
 * @return ApiCustomObjectClassesGeneratorUpdateRequest
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesGeneratorUpdate(ctx _context.Context, generatorId string) ApiCustomObjectClassesGeneratorUpdateRequest {
	return ApiCustomObjectClassesGeneratorUpdateRequest{
		ApiService: a,
		ctx: ctx,
		generatorId: generatorId,
	}
}

/*
 * Execute executes the request
 * @return CustomObjectClass
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesGeneratorUpdateExecute(r ApiCustomObjectClassesGeneratorUpdateRequest) (CustomObjectClass, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CustomObjectClass
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectClassesApiService.CustomObjectClassesGeneratorUpdate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/generator/{generator_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"generator_id"+"}", _neturl.PathEscape(parameterToString(r.generatorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	if r.isDebugMode != nil {
		localVarQueryParams.Add("is_debug_mode", parameterToString(*r.isDebugMode, ""))
	}
	if r.runAsync != nil {
		localVarQueryParams.Add("run_async", parameterToString(*r.runAsync, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomObjectClassesListRequest struct {
	ctx _context.Context
	ApiService *CustomObjectClassesApiService
	xAccountToken *string
	createdAfter *time.Time
	createdBefore *time.Time
	cursor *string
	includeDeletedData *bool
	includeRemoteData *bool
	modifiedAfter *time.Time
	modifiedBefore *time.Time
	pageSize *int32
	remoteId *string
}

func (r ApiCustomObjectClassesListRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesListRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesListRequest) CreatedAfter(createdAfter time.Time) ApiCustomObjectClassesListRequest {
	r.createdAfter = &createdAfter
	return r
}
func (r ApiCustomObjectClassesListRequest) CreatedBefore(createdBefore time.Time) ApiCustomObjectClassesListRequest {
	r.createdBefore = &createdBefore
	return r
}
func (r ApiCustomObjectClassesListRequest) Cursor(cursor string) ApiCustomObjectClassesListRequest {
	r.cursor = &cursor
	return r
}
func (r ApiCustomObjectClassesListRequest) IncludeDeletedData(includeDeletedData bool) ApiCustomObjectClassesListRequest {
	r.includeDeletedData = &includeDeletedData
	return r
}
func (r ApiCustomObjectClassesListRequest) IncludeRemoteData(includeRemoteData bool) ApiCustomObjectClassesListRequest {
	r.includeRemoteData = &includeRemoteData
	return r
}
func (r ApiCustomObjectClassesListRequest) ModifiedAfter(modifiedAfter time.Time) ApiCustomObjectClassesListRequest {
	r.modifiedAfter = &modifiedAfter
	return r
}
func (r ApiCustomObjectClassesListRequest) ModifiedBefore(modifiedBefore time.Time) ApiCustomObjectClassesListRequest {
	r.modifiedBefore = &modifiedBefore
	return r
}
func (r ApiCustomObjectClassesListRequest) PageSize(pageSize int32) ApiCustomObjectClassesListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiCustomObjectClassesListRequest) RemoteId(remoteId string) ApiCustomObjectClassesListRequest {
	r.remoteId = &remoteId
	return r
}

func (r ApiCustomObjectClassesListRequest) Execute() (PaginatedCustomObjectClassList, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesListExecute(r)
}

/*
 * CustomObjectClassesList Method for CustomObjectClassesList
 * Returns a list of `CustomObjectClass` objects.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiCustomObjectClassesListRequest
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesList(ctx _context.Context) ApiCustomObjectClassesListRequest {
	return ApiCustomObjectClassesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return PaginatedCustomObjectClassList
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesListExecute(r ApiCustomObjectClassesListRequest) (PaginatedCustomObjectClassList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedCustomObjectClassList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectClassesApiService.CustomObjectClassesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	if r.createdAfter != nil {
		localVarQueryParams.Add("created_after", parameterToString(*r.createdAfter, ""))
	}
	if r.createdBefore != nil {
		localVarQueryParams.Add("created_before", parameterToString(*r.createdBefore, ""))
	}
	if r.cursor != nil {
		localVarQueryParams.Add("cursor", parameterToString(*r.cursor, ""))
	}
	if r.includeDeletedData != nil {
		localVarQueryParams.Add("include_deleted_data", parameterToString(*r.includeDeletedData, ""))
	}
	if r.includeRemoteData != nil {
		localVarQueryParams.Add("include_remote_data", parameterToString(*r.includeRemoteData, ""))
	}
	if r.modifiedAfter != nil {
		localVarQueryParams.Add("modified_after", parameterToString(*r.modifiedAfter, ""))
	}
	if r.modifiedBefore != nil {
		localVarQueryParams.Add("modified_before", parameterToString(*r.modifiedBefore, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.remoteId != nil {
		localVarQueryParams.Add("remote_id", parameterToString(*r.remoteId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomObjectClassesRetrieveRequest struct {
	ctx _context.Context
	ApiService *CustomObjectClassesApiService
	xAccountToken *string
	id string
	includeRemoteData *bool
}

func (r ApiCustomObjectClassesRetrieveRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesRetrieveRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesRetrieveRequest) IncludeRemoteData(includeRemoteData bool) ApiCustomObjectClassesRetrieveRequest {
	r.includeRemoteData = &includeRemoteData
	return r
}

func (r ApiCustomObjectClassesRetrieveRequest) Execute() (CustomObjectClass, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesRetrieveExecute(r)
}

/*
 * CustomObjectClassesRetrieve Method for CustomObjectClassesRetrieve
 * Returns a `CustomObjectClass` object with the given `id`.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiCustomObjectClassesRetrieveRequest
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesRetrieve(ctx _context.Context, id string) ApiCustomObjectClassesRetrieveRequest {
	return ApiCustomObjectClassesRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 * @return CustomObjectClass
 */
func (a *CustomObjectClassesApiService) CustomObjectClassesRetrieveExecute(r ApiCustomObjectClassesRetrieveRequest) (CustomObjectClass, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CustomObjectClass
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomObjectClassesApiService.CustomObjectClassesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	if r.includeRemoteData != nil {
		localVarQueryParams.Add("include_remote_data", parameterToString(*r.includeRemoteData, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
