/*
 * Merge CRM API
 *
 * The unified API for building rich integrations with multiple CRM platforms.
 *
 * API version: 1.0
 * Contact: hello@merge.dev
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package merge_crm_client

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
)

// Linger please
var (
	_ _context.Context
)

// AssociationTypesApiService AssociationTypesApi service
type AssociationTypesApiService service

type ApiCustomObjectClassesAssociationTypesCreateRequest struct {
	ctx _context.Context
	ApiService *AssociationTypesApiService
	xAccountToken *string
	customObjectClassId string
	cRMAssociationTypeEndpointRequest *CRMAssociationTypeEndpointRequest
	isDebugMode *bool
	runAsync *bool
}

func (r ApiCustomObjectClassesAssociationTypesCreateRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesAssociationTypesCreateRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesAssociationTypesCreateRequest) CRMAssociationTypeEndpointRequest(cRMAssociationTypeEndpointRequest CRMAssociationTypeEndpointRequest) ApiCustomObjectClassesAssociationTypesCreateRequest {
	r.cRMAssociationTypeEndpointRequest = &cRMAssociationTypeEndpointRequest
	return r
}
func (r ApiCustomObjectClassesAssociationTypesCreateRequest) IsDebugMode(isDebugMode bool) ApiCustomObjectClassesAssociationTypesCreateRequest {
	r.isDebugMode = &isDebugMode
	return r
}
func (r ApiCustomObjectClassesAssociationTypesCreateRequest) RunAsync(runAsync bool) ApiCustomObjectClassesAssociationTypesCreateRequest {
	r.runAsync = &runAsync
	return r
}

func (r ApiCustomObjectClassesAssociationTypesCreateRequest) Execute() (CRMAssociationTypeResponse, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesAssociationTypesCreateExecute(r)
}

/*
 * CustomObjectClassesAssociationTypesCreate Method for CustomObjectClassesAssociationTypesCreate
 * Creates an `AssociationType` object with the given values.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param customObjectClassId
 * @return ApiCustomObjectClassesAssociationTypesCreateRequest
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesCreate(ctx _context.Context, customObjectClassId string) ApiCustomObjectClassesAssociationTypesCreateRequest {
	return ApiCustomObjectClassesAssociationTypesCreateRequest{
		ApiService: a,
		ctx: ctx,
		customObjectClassId: customObjectClassId,
	}
}

/*
 * Execute executes the request
 * @return CRMAssociationTypeResponse
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesCreateExecute(r ApiCustomObjectClassesAssociationTypesCreateRequest) (CRMAssociationTypeResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CRMAssociationTypeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AssociationTypesApiService.CustomObjectClassesAssociationTypesCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/{custom_object_class_id}/association-types"
	localVarPath = strings.Replace(localVarPath, "{"+"custom_object_class_id"+"}", _neturl.PathEscape(parameterToString(r.customObjectClassId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}
	if r.cRMAssociationTypeEndpointRequest == nil {
		return localVarReturnValue, nil, reportError("cRMAssociationTypeEndpointRequest is required and must be specified")
	}

	if r.isDebugMode != nil {
		localVarQueryParams.Add("is_debug_mode", parameterToString(*r.isDebugMode, ""))
	}
	if r.runAsync != nil {
		localVarQueryParams.Add("run_async", parameterToString(*r.runAsync, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	// body params
	localVarPostBody = r.cRMAssociationTypeEndpointRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomObjectClassesAssociationTypesListRequest struct {
	ctx _context.Context
	ApiService *AssociationTypesApiService
	xAccountToken *string
	customObjectClassId string
	createdAfter *time.Time
	createdBefore *time.Time
	cursor *string
	includeDeletedData *bool
	includeRemoteData *bool
	modifiedAfter *time.Time
	modifiedBefore *time.Time
	pageSize *int32
	remoteId *string
}

func (r ApiCustomObjectClassesAssociationTypesListRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesAssociationTypesListRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) CreatedAfter(createdAfter time.Time) ApiCustomObjectClassesAssociationTypesListRequest {
	r.createdAfter = &createdAfter
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) CreatedBefore(createdBefore time.Time) ApiCustomObjectClassesAssociationTypesListRequest {
	r.createdBefore = &createdBefore
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) Cursor(cursor string) ApiCustomObjectClassesAssociationTypesListRequest {
	r.cursor = &cursor
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) IncludeDeletedData(includeDeletedData bool) ApiCustomObjectClassesAssociationTypesListRequest {
	r.includeDeletedData = &includeDeletedData
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) IncludeRemoteData(includeRemoteData bool) ApiCustomObjectClassesAssociationTypesListRequest {
	r.includeRemoteData = &includeRemoteData
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) ModifiedAfter(modifiedAfter time.Time) ApiCustomObjectClassesAssociationTypesListRequest {
	r.modifiedAfter = &modifiedAfter
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) ModifiedBefore(modifiedBefore time.Time) ApiCustomObjectClassesAssociationTypesListRequest {
	r.modifiedBefore = &modifiedBefore
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) PageSize(pageSize int32) ApiCustomObjectClassesAssociationTypesListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiCustomObjectClassesAssociationTypesListRequest) RemoteId(remoteId string) ApiCustomObjectClassesAssociationTypesListRequest {
	r.remoteId = &remoteId
	return r
}

func (r ApiCustomObjectClassesAssociationTypesListRequest) Execute() (PaginatedAssociationTypeList, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesAssociationTypesListExecute(r)
}

/*
 * CustomObjectClassesAssociationTypesList Method for CustomObjectClassesAssociationTypesList
 * Returns a list of `AssociationType` objects.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param customObjectClassId
 * @return ApiCustomObjectClassesAssociationTypesListRequest
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesList(ctx _context.Context, customObjectClassId string) ApiCustomObjectClassesAssociationTypesListRequest {
	return ApiCustomObjectClassesAssociationTypesListRequest{
		ApiService: a,
		ctx: ctx,
		customObjectClassId: customObjectClassId,
	}
}

/*
 * Execute executes the request
 * @return PaginatedAssociationTypeList
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesListExecute(r ApiCustomObjectClassesAssociationTypesListRequest) (PaginatedAssociationTypeList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedAssociationTypeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AssociationTypesApiService.CustomObjectClassesAssociationTypesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/{custom_object_class_id}/association-types"
	localVarPath = strings.Replace(localVarPath, "{"+"custom_object_class_id"+"}", _neturl.PathEscape(parameterToString(r.customObjectClassId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	if r.createdAfter != nil {
		localVarQueryParams.Add("created_after", parameterToString(*r.createdAfter, ""))
	}
	if r.createdBefore != nil {
		localVarQueryParams.Add("created_before", parameterToString(*r.createdBefore, ""))
	}
	if r.cursor != nil {
		localVarQueryParams.Add("cursor", parameterToString(*r.cursor, ""))
	}
	if r.includeDeletedData != nil {
		localVarQueryParams.Add("include_deleted_data", parameterToString(*r.includeDeletedData, ""))
	}
	if r.includeRemoteData != nil {
		localVarQueryParams.Add("include_remote_data", parameterToString(*r.includeRemoteData, ""))
	}
	if r.modifiedAfter != nil {
		localVarQueryParams.Add("modified_after", parameterToString(*r.modifiedAfter, ""))
	}
	if r.modifiedBefore != nil {
		localVarQueryParams.Add("modified_before", parameterToString(*r.modifiedBefore, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.remoteId != nil {
		localVarQueryParams.Add("remote_id", parameterToString(*r.remoteId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest struct {
	ctx _context.Context
	ApiService *AssociationTypesApiService
	xAccountToken *string
	customObjectClassId string
}

func (r ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest {
	r.xAccountToken = &xAccountToken
	return r
}

func (r ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest) Execute() (MetaResponse, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesAssociationTypesMetaPostRetrieveExecute(r)
}

/*
 * CustomObjectClassesAssociationTypesMetaPostRetrieve Method for CustomObjectClassesAssociationTypesMetaPostRetrieve
 * Returns metadata for `CRMAssociationType` POSTs.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param customObjectClassId
 * @return ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesMetaPostRetrieve(ctx _context.Context, customObjectClassId string) ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest {
	return ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		customObjectClassId: customObjectClassId,
	}
}

/*
 * Execute executes the request
 * @return MetaResponse
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesMetaPostRetrieveExecute(r ApiCustomObjectClassesAssociationTypesMetaPostRetrieveRequest) (MetaResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MetaResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AssociationTypesApiService.CustomObjectClassesAssociationTypesMetaPostRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/{custom_object_class_id}/association-types/meta/post"
	localVarPath = strings.Replace(localVarPath, "{"+"custom_object_class_id"+"}", _neturl.PathEscape(parameterToString(r.customObjectClassId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomObjectClassesAssociationTypesRetrieveRequest struct {
	ctx _context.Context
	ApiService *AssociationTypesApiService
	xAccountToken *string
	customObjectClassId string
	id string
	includeRemoteData *bool
}

func (r ApiCustomObjectClassesAssociationTypesRetrieveRequest) XAccountToken(xAccountToken string) ApiCustomObjectClassesAssociationTypesRetrieveRequest {
	r.xAccountToken = &xAccountToken
	return r
}
func (r ApiCustomObjectClassesAssociationTypesRetrieveRequest) IncludeRemoteData(includeRemoteData bool) ApiCustomObjectClassesAssociationTypesRetrieveRequest {
	r.includeRemoteData = &includeRemoteData
	return r
}

func (r ApiCustomObjectClassesAssociationTypesRetrieveRequest) Execute() (AssociationType, *_nethttp.Response, error) {
	return r.ApiService.CustomObjectClassesAssociationTypesRetrieveExecute(r)
}

/*
 * CustomObjectClassesAssociationTypesRetrieve Method for CustomObjectClassesAssociationTypesRetrieve
 * Returns an `AssociationType` object with the given `id`.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param customObjectClassId
 * @param id
 * @return ApiCustomObjectClassesAssociationTypesRetrieveRequest
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesRetrieve(ctx _context.Context, customObjectClassId string, id string) ApiCustomObjectClassesAssociationTypesRetrieveRequest {
	return ApiCustomObjectClassesAssociationTypesRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		customObjectClassId: customObjectClassId,
		id: id,
	}
}

/*
 * Execute executes the request
 * @return AssociationType
 */
func (a *AssociationTypesApiService) CustomObjectClassesAssociationTypesRetrieveExecute(r ApiCustomObjectClassesAssociationTypesRetrieveRequest) (AssociationType, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AssociationType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AssociationTypesApiService.CustomObjectClassesAssociationTypesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/custom-object-classes/{custom_object_class_id}/association-types/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"custom_object_class_id"+"}", _neturl.PathEscape(parameterToString(r.customObjectClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xAccountToken == nil {
		return localVarReturnValue, nil, reportError("xAccountToken is required and must be specified")
	}

	if r.includeRemoteData != nil {
		localVarQueryParams.Add("include_remote_data", parameterToString(*r.includeRemoteData, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["X-Account-Token"] = parameterToString(*r.xAccountToken, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
