openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple CRM platforms.
  title: Merge CRM API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/crm/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/crm/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts:
    get:
      description: Returns a list of `Account` objects.
      operationId: accounts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return accounts with this owner.
        examples:
          OwnerId:
            summary: owner_id
        explode: true
        in: query
        name: owner_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountList'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Account` object with the given values.
      operationId: accounts_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRMAccountEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CRMAccountEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CRMAccountEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMAccountResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/{id}:
    get:
      description: Returns an `Account` object with the given `id`.
      operationId: accounts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    patch:
      description: Updates an `Account` object with the given `id`.
      operationId: accounts_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCRMAccountEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCRMAccountEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCRMAccountEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMAccountResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/meta/patch/{id}:
    get:
      description: Returns metadata for `CRMAccount` PATCHs.
      operationId: accounts_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-merge-meta-patch: META_PATCH
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/meta/post:
    get:
      description: Returns metadata for `CRMAccount` POSTs.
      operationId: accounts_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: accounts_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts:
    get:
      description: Returns a list of `Contact` objects.
      operationId: contacts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return contacts with this account.
        examples:
          AccountId:
            summary: account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `Contact` object with the given values.
      operationId: contacts_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRMContactEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CRMContactEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CRMContactEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMContactResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/{id}:
    get:
      description: Returns a `Contact` object with the given `id`.
      operationId: contacts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    patch:
      description: Updates a `Contact` object with the given `id`.
      operationId: contacts_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCRMContactEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCRMContactEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCRMContactEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMContactResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/ignore/{model_id}:
    post:
      description: Ignores a specific row based on the `model_id` in the url. These
        records will have their properties set to null, and will not be updated in
        future syncs. The "reason" and "message" fields in the request body will be
        stored for audit purposes.
      operationId: contacts_ignore_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
        required: true
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-extra-tags:
      - ignore-model
  /contacts/meta/patch/{id}:
    get:
      description: Returns metadata for `CRMContact` PATCHs.
      operationId: contacts_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-merge-meta-patch: META_PATCH
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/meta/post:
    get:
      description: Returns metadata for `CRMContact` POSTs.
      operationId: contacts_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: contacts_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /custom-object-classes:
    get:
      description: Returns a list of `CustomObjectClass` objects.
      operationId: custom_object_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomObjectClassList'
      security:
      - tokenAuth: []
      tags:
      - custom-object-classes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/association-types:
    get:
      description: Returns a list of `AssociationType` objects.
      operationId: custom_object_classes_association_types_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssociationTypeList'
      security:
      - tokenAuth: []
      tags:
      - association-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `AssociationType` object with the given values.
      operationId: custom_object_classes_association_types_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRMAssociationTypeEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CRMAssociationTypeEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CRMAssociationTypeEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMAssociationTypeResponse'
      security:
      - tokenAuth: []
      tags:
      - association-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/association-types/{id}:
    get:
      description: Returns an `AssociationType` object with the given `id`.
      operationId: custom_object_classes_association_types_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationType'
      security:
      - tokenAuth: []
      tags:
      - association-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/association-types/meta/post:
    get:
      description: Returns metadata for `CRMAssociationType` POSTs.
      operationId: custom_object_classes_association_types_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - association-types
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/custom-objects:
    get:
      description: Returns a list of `CustomObject` objects.
      operationId: custom_object_classes_custom_objects_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomObjectList'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `CustomObject` object with the given values.
      operationId: custom_object_classes_custom_objects_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRMCustomObjectEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CRMCustomObjectEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CRMCustomObjectEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMCustomObjectResponse'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/custom-objects/{id}:
    get:
      description: Returns a `CustomObject` object with the given `id`.
      operationId: custom_object_classes_custom_objects_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObject'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    patch:
      description: Updates a `CustomObject` object with the given `id`.
      operationId: custom_object_classes_custom_objects_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCRMCustomObjectEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCRMCustomObjectEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCRMCustomObjectEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMCustomObjectResponse'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/custom-objects/{object_id}/associations:
    get:
      description: Returns a list of `Association` objects.
      operationId: custom_object_classes_custom_objects_associations_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return opportunities with this association_type.
        examples:
          AssociationTypeId:
            summary: association_type_id
        explode: true
        in: query
        name: association_type_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: false
        in: path
        name: object_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssociationList'
      security:
      - tokenAuth: []
      tags:
      - associations
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/custom-objects/meta/patch/{id}:
    get:
      description: Returns metadata for `CRMCustomObject` PATCHs.
      operationId: custom_object_classes_custom_objects_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-merge-meta-patch: META_PATCH
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{custom_object_class_id}/custom-objects/meta/post:
    get:
      description: Returns metadata for `CRMCustomObject` POSTs.
      operationId: custom_object_classes_custom_objects_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: custom_object_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - custom-objects
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/{id}:
    get:
      description: Returns a `CustomObjectClass` object with the given `id`.
      operationId: custom_object_classes_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectClass'
      security:
      - tokenAuth: []
      tags:
      - custom-object-classes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  ? /custom-object-classes/{source_class_id}/custom-objects/{source_object_id}/associations/{target_class_id}/{target_object_id}/{association_type_id}
  : put:
      description: Creates an Association between `source_object_id` and `target_object_id`
        of type `association_type_id`.
      operationId: custom_object_classes_custom_objects_associations_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: association_type_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      - explode: false
        in: path
        name: source_class_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: source_object_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: target_class_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: target_object_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
      security:
      - tokenAuth: []
      tags:
      - associations
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /custom-object-classes/generator/{generator_id}:
    put:
      description: Updates a `CustomObjectClass` object with the given `id`.
      operationId: custom_object_classes_generator_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: generator_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectClass'
      security:
      - tokenAuth: []
      tags:
      - custom-object-classes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagement-types:
    get:
      description: Returns a list of `EngagementType` objects.
      operationId: engagement_types_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEngagementTypeList'
      security:
      - tokenAuth: []
      tags:
      - engagement-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagement-types/{id}:
    get:
      description: Returns an `EngagementType` object with the given `id`.
      operationId: engagement_types_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementType'
      security:
      - tokenAuth: []
      tags:
      - engagement-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagement-types/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: engagement_types_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - engagement-types
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /engagements:
    get:
      description: Returns a list of `Engagement` objects.
      operationId: engagements_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEngagementList'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Engagement` object with the given values.
      operationId: engagements_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EngagementEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EngagementEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementResponse'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagements/{id}:
    get:
      description: Returns an `Engagement` object with the given `id`.
      operationId: engagements_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Engagement'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    patch:
      description: Updates an `Engagement` object with the given `id`.
      operationId: engagements_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEngagementEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEngagementEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEngagementEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementResponse'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagements/meta/patch/{id}:
    get:
      description: Returns metadata for `Engagement` PATCHs.
      operationId: engagements_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-merge-meta-patch: META_PATCH
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagements/meta/post:
    get:
      description: Returns metadata for `Engagement` POSTs.
      operationId: engagements_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /engagements/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: engagements_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - engagements
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose last incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Status of the issue. Options: ('ONGOING', 'RESOLVED')

          * `ONGOING` - ONGOING
          * `RESOLVED` - RESOLVED
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /leads:
    get:
      description: Returns a list of `Lead` objects.
      operationId: leads_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return leads with this account.
        examples:
          ConvertedAccountId:
            summary: converted_account_id
        explode: true
        in: query
        name: converted_account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return leads with this contact.
        examples:
          ConvertedContactId:
            summary: converted_contact_id
        explode: true
        in: query
        name: converted_contact_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, only objects synced by Merge after this date time
          will be returned.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, only objects synced by Merge before this date time
          will be returned.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return leads with this owner.
        examples:
          OwnerId:
            summary: owner_id
        explode: true
        in: query
        name: owner_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLeadList'
      security:
      - tokenAuth: []
      tags:
      - leads
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `Lead` object with the given values.
      operationId: leads_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LeadEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LeadEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadResponse'
      security:
      - tokenAuth: []
      tags:
      - leads
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /leads/{id}:
    get:
      description: Returns a `Lead` object with the given `id`.
      operationId: leads_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
      security:
      - tokenAuth: []
      tags:
      - leads
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /leads/meta/post:
    get:
      description: Returns metadata for `Lead` POSTs.
      operationId: leads_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - leads
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /leads/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: leads_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - leads
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - description: |-
          Options: ('hris', 'ats', 'accounting', 'ticketing', 'crm', 'mktg', 'filestorage')

          * `hris` - hris
          * `ats` - ats
          * `accounting` - accounting
          * `ticketing` - ticketing
          * `crm` - crm
          * `mktg` - mktg
          * `filestorage` - filestorage
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - filestorage
          - hris
          - mktg
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /notes:
    get:
      description: Returns a list of `Note` objects.
      operationId: notes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return notes with this account.
        examples:
          AccountId:
            summary: account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return notes with this contact.
        examples:
          ContactId:
            summary: contact_id
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
[...]
